
}
.container-fluid {
	margin: auto;
}
body{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	border-width:5px;
	margin: 10px;
	padding: 10px;}
h1{
	font-family: serif;
}
h2{
	font-family: serif;
}
.right{
	text-align: right;
}
.left {
	text-align: left;
}